<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../src/assets/style.css" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="main-frame d-flex">
      <!-- Side Navigation -->
      <div class="position-relative" id="side-bar">
        <div class="toggle-side-pos">
          <img
            src="../../src/assets/svgs/ArrowSideRight.svg"
            class="svg-icon-size d-none"
            alt=""
            id="toggle-side-right"
          />
        </div>

        <div class="toggle-side-pos">
          <img
            src="../../src/assets/svgs/ArrowSideLeft.svg"
            class="svg-icon-size"
            alt=""
            id="toggle-side-left"
          />
        </div>

        <div class="w-260 border-r h-100 px-8 py-4">
          <div>
            <img
              src="../../src/assets/images/logo.png"
              class="logo-styles"
              alt=""
            />
          </div>

          <div class="d-flex gap-4 row mt-4">
            <div>
              <p class="m-0 border-b text-xs mb-1">Dashboard</p>
              <div class="d-flex row">
                <a href="./home.template.html" class="default">Dashboard</a>
              </div>
            </div>

            <div>
              <p class="m-0 border-b text-xs mb-1">Manage</p>
              <div class="d-flex row">
                <a href="./users.template.html" class="active">Users</a>
                <a href="./articles.template.html" class="default">Articles</a>
                <a href="./programs.template.html" class="default">Programs</a>
                <a href="./queries.template.html" class="default">Queries</a>
              </div>
            </div>

            <div>
              <p class="m-0 border-b text-xs mb-1">Interact</p>
              <div class="d-flex row">
                <a href="./messenger.template.html" class="default"
                  >Messenger</a
                >
                <a href="./community.template.html" class="default"
                  >Community</a
                >
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>

      <!-- Content -->
      <div class="w-100 overflow-y-scroll">
        <div class="m-auto w-90 px-8">
          <!-- Heading -->
          <div class="w-100 mt-4">
            <p class="h2 color-pri">Manage Users</p>
            <p class="text-sm text-muted">
              This page will give you the ability to manage your users easier.
            </p>
          </div>

          <!-- Search -->
          <div class="mt-4">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center gap-2 w-100">
                <input
                  type="text"
                  placeholder="Search User"
                  class="text-sm px-3 w-full py-1 rounded border"
                  onkeyup="tableSearch()"
                  id="search-user"
                />
                <button
                  class="border px-3 py-1 text-sm rounded bg-sec text-white"
                >
                  Category
                </button>
              </div>

              <div class="w-100 d-flex align-items-center justify-content-end">
                <button class="border px-2 py-1 text-xs rounded-left">
                  <img
                    src="../assets/svgs/AddUser.svg"
                    class="icon-sz-16"
                    alt=""
                  />
                </button>
                <button class="border px-2 py-1 text-xs">
                  <img
                    src="../assets/svgs/Download.svg"
                    class="icon-sz-16"
                    alt=""
                  />
                </button>
                <button class="border px-2 py-1 text-xs rounded-right">
                  <img
                    src="../assets/svgs/Print.svg"
                    class="icon-sz-16"
                    alt=""
                  />
                </button>
              </div>
            </div>

            <div class="mt-4">
              <table
                id="table-user"
                class="table table-striped table-bordered table-sm"
                cellspacing="0"
                width="100%"
              >
                <thead>
                  <tr>
                    <th class="th-sm text-xs">Organization</th>
                    <th class="th-sm text-xs">Category</th>
                    <th class="th-sm text-xs">Email</th>
                    <th class="th-sm text-xs">Last logged in</th>
                    <th class="th-sm text-xs">Status</th>
                    <th class="th-sm text-center text-xs">Action</th>
                  </tr>
                </thead>
                <tbody id="users-tbl-body">
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                  </tr>
                </tbody>
              </table>

              <div
                class="pb-4 d-flex justify-content-between align-items-center"
              >
                <div class="d-flex align-items-center gap-2">
                  <p class="text-xs">Rows per table:</p>
                  <select
                    class="select px-2 py-1 text-xs border rounded outline-none"
                    id="page-per-row"
                    onchange="changePagePerRow()"
                  >
                    <option value="25" class="text-xs">25</option>
                    <option value="50" class="text-xs">50</option>
                    <option value="75" class="text-xs">75</option>
                    <option value="100" class="text-xs">100</option>
                  </select>
                </div>

                <p class="text-muted text-xs">
                  Results:
                  <span>1 - 10</span>
                  of
                  <span>120</span>
                </p>

                <!-- Pagination controls will be added dynamically -->
                <ul id="pagination" class="pagination gap-1"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../src/utils/onClick.js"></script>
    <script src="../../src/utils/functions.js"></script>
  </body>
</html>
